@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 text-lg bg-black text-white;
}

h1 {
  @apply text-6xl font-extrabold mt-2 mb-2;
}

h2 {
  @apply text-3xl font-extrabold mt-8 mb-2;
}

nav {
  ul {
    @apply list-none flex gap-4
  }
  a {
    @apply flex items-center p-1
  }

  li:hover{
    @apply bg-sky-950
  }

  @apply bg-gray-900 text-white flex justify-between items-center gap-8 p-3
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
